@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Murecho:wght@300&display=swap');

*{
    margin: 0;
    text-decoration: none;
}

body{
   background-color: #FFEDE1; 
   font-family: Dosis;
}

*:focus {
    outline: none;
}

.invisible{
    display: none;
}

:target{
    display: flex;
}

video {

    min-width: 100%; 
    min-height: 100%;
    width: 100%    !important;
    height: auto   !important;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}